* {
  @apply p-0;
  @apply m-0;
}

button,
a,
input,
button:focus,
a:focus,
input:focus {
  @apply outline-none;

  text-decoration: none;
  color: inherit;
}

ul {
  @apply list-none;
}

input[type="text"],
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  @apply outline-none;
}

img {
  @apply max-w-full;
  @apply w-full;
  @apply h-auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  @apply font-normal;

  font-size: 1.6rem;
  @apply tracking-wider;
  @apply leading-4;
  @apply overflow-x-hidden;
}
