.typo-xl {
  @apply text-xl;
  @apply font-bold;

  font-style: normal;
}

.typo-base {
  @apply text-base;
  @apply font-normal;

  font-style: normal;
}

.typo-lg {
  @apply text-lg;
  @apply font-medium;

  font-style: normal;
}

.typo-sm {
  @apply text-sm;
  @apply font-normal;

  font-style: normal;
}

.typo-xs {
  @apply text-xs;
  @apply font-normal;

  font-style: normal;
}
